* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #faf3f3;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}
:root {
  --nav-color: #3d84b8;
}
/* navigation  */
.main-header {
  background-color: var(--nav-color);
}
.navbar {
  background-color: #3d84b8 !important;
}
.navbar .container-fluid a,
.nav-link {
  text-decoration: none;
  color: white !important;
}

.nav-bg-color {
  background-color: var(--nav-color);
}

/* styling content  */
.content {
  margin-top: 1rem;
}
.top-headlines {
  padding: 2rem;
  border: 1px ridge rgb(226, 226, 226);
  background-color: #fff;
}
.top-headlines h1 {
  margin-bottom: 2rem;
}

.sidebar {
  background-color: #fff;
  padding: 2rem;
  line-height: 2;
  border: 1px ridge rgb(226, 226, 226);
}
footer {
  margin-top: 3rem;
  width: 100%;
  height: 3rem;
  color: white;
  background-color: var(--nav-color);
  text-align: center;
  line-height: 3;
}

.btn-primary {
  background-color: #3d84b8 !important;
}

p {
  color: rgba(0, 0, 0, 0.692);
}
